body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 50px;
    margin-right: 10px;
}

.header-left input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.header-left button {
    background-color: #128af3; /* Cor do botão */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.section_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card_produto {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.card_produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card_produto h3 {
    margin: 10px 0;
}

.card_produto p {
    font-weight: bold;
}

.card_produto button {
    background-color: #3498db; /* Cor do botão "Adicionar ao Carrinho" */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}
