body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selecionar {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.selecionar h2 {
    margin-bottom: 50px;
    color: #333;
}

.input {
    margin-bottom: 15px;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.selecionar button {
    background-color: #3498db; /* Cor do botão "Finalizar Compra" */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selecionar button:hover {
    background-color: #2980b9; /* Cor do botão "Finalizar Compra" no hover */
}

