/* Reset de estilos básicos */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    width: 50px; /* Tamanho da logo */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

/* Estilos para cada uma das divs */
.logo {
    text-align: left;
}

.titulo {
    text-align: center;
}

.links {
    text-align: left;
}

.adicionar_carrinho {
    background-color: #3498db; /* Cor do botão "Adicionar ao Carrinho" */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.adicionar_carrinho:hover {
    background-color: #2980b9; /* Cor do botão "Adicionar ao Carrinho" no hover */
}


/**/

#produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card_produto {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.img_produto img{
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.nome_produto {
    margin: 10px 0;
}

.preco_produto {
    font-weight: bold;
}
/**/

/* Estilo para o botão "Finalizar Compra" */
.finalizar-compra {
    text-align: center;
    margin-top: 20px;
}

.finalizar-compra a {
    text-decoration: none;
}

.finalizar-compra button {
    background-color: #3498db; /* Cor do botão "Finalizar Compra" */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.finalizar-compra button:hover {
    background-color: #2980b9; /* Cor do botão "Finalizar Compra" no hover */
}
