
body{
    margin: 0%;
}

/*  CABEÇALHO  */
.cabecalho{
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid rgb(255, 84, 104);
    padding: 2,5px;
    padding-left: 5px;
    padding-right: 2,5px;
    display: flex;
  }

.cabecalho > div{
    width: auto;
    height: 20px;
    padding: 0%;
    margin: 10px;
}

/*  MENU   */
.botao-menu{
    background-color: rgb(255, 50, 50);
    border: none;
    color: rgb(255, 255, 255);
    
}

/*  TDE - RESPONSITIVO  */
.botao-menu:hover{
    background-color: cadetblue;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.menu{
    display: none;
    background-color: rgb(66, 160, 160);
    width: 70px;
}

.dropdown:hover > .menu{
    display: block;
}

/*  FLEXBOX   */
.flex-container{
    background: rgba(39, 42, 211, 0.3);
    border: 2px solid rgb(255, 84, 104);
    padding: 10px;
    margin: 10px;
    display: flex;
    height: auto;
  }

.flex-container > div{
    background: rgb(255, 84, 104);
    width: auto;
    height: 100px;
    margin: 5px;
    color: white;
    text-align: center;
    display: flex;
}

.flex-container>div:hover{
    border-color: #FA5858;
    background-color: rgb(243, 62, 38);
}

/*  BOX   */
.img-container{

    width:auto;
    height:auto;
}

.img-container>img {
    width: 100px;
    height: 80px;

}

.botao-box{
    position: absolute;
	background-color: green;
    color: white;
    
}

.botao-box:hover {
    background-color: black;
  }